.topnav{
    display: block;
    position: relative;
    height: 40px;
    width: 500px;
    left: 420px;
    top: 50px;
    text-align: center;
    overflow: hidden;               
    background-color: #999;
    align-content: center;
    background-color:#333;
}          
.topnav a{
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: left;
    display: block;
    color:#fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: 300px;
}

.topnav li{
    display: inline-flex;                                
}
.topnav li:hover{
    overflow: hidden;                            
}
